PORT=5455

# mongo db config
MONGO_CONNECTION_STRING=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_DB_NAME=

# mongo test db config
MONGO_TEST_CONNECTION_STRING=
MONGO_TEST_DB_NAME=

# jwt config
JWT_SECRET=

