PORT=5455

# mongo db config
MONGO_CONNECTION_STRING=mongodb://<USERNAME>:<PASSWORD>@<HOST>:<PORT>
MONGO_USERNAME=your username
MONGO_PASSWORD=your password
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=personal-finance-tracker

# mongo test db config
MONGO_TEST_CONNECTION_STRING=
MONGO_TEST_DB_NAME=

# jwt config
JWT_SECRET=your secret

